.main{
    height: 100vh;
}
.navigationBar{
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0px;
    z-index: 1000;
}
.products{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 4vw;
}