* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
    color: #494949;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 60px;
}
.loginMain {
  background-color: #0e82d0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formMain {
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.email{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
}
.lable{
    font-size: 14px;
}
.input{
    padding: 20px;
    width: 250px;
}
.show{
    margin: 10px 0px;
}
.submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.signIn{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0e82d0;
    cursor: pointer;
}