.navbar{
    background-color: #0e82d0;
    border-radius: 10px;
    width: 96%;
    height: 60px;
    margin: auto;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    align-items: center;
    z-index: 1000;
}
.logo{
    font-weight: 600;
    font-size: 28px;
}
.sections{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}
.sections > button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
.search{
    background-color: #ffffff;
    width: 250px;
    padding: 0 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.search > input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.search > input:focus {
    border: none;
    outline: none;
}
.lines{
    margin-bottom: 6px;
}